.color-card {
  height: 250px;
  width: 750px;
  list-style: none;
  display: flex;
  overflow: hidden;
  border-radius: 50px;
}

/* die childelemente von color-card ragen über color-card selbst hinaus. deshalb "overflow: hidden", damit sie nicht darüber hinausragen und man der borderradius nicht dahinter versteckt ist. */

.color-description {
  background-color: lightgray;
  width: 350px;
  padding-left: 30px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.color-description-role {
  font-size: 3rem;
}

.color-description-hex {
  font-size: 1rem;
  color: darkgray;
}

.color-display {
  width: 400px;
}

.color-display--preview {
  width: 100px;
}
