.color-card {
  height: 250px;
  width: 866px;
  list-style: none;
  display: flex;
}

.color-description {
  background-color: lightgray;
  width: 300px;
  padding-left: 30px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.color-description-role {
  font-size: 3rem;
}

.color-description-hex {
  font-size: 1rem;
  color: darkgray;
}

.color-display {
  width: 500px;
}
