.header {
  height: 200px;
  margin: 20px;
  background-color: var(--background-color);
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--headline-font);
  font-size: var(--headline-font-size);
}
