@import url(./components/ColorCard/ColorCard.css);
@import url(./components/Header/Header.css);

:root {
  font-family: Arial, sans-serif;
  --primary-font-size: 70px;
}

main {
  height: 1200px;
  margin: 30px;
}

.card-container {
  height: 1000px;
}

.card-container-theme_name {
  font-size: 80px;
  /* margin: calc({--color-card-margin}+{--color-card-padding}) */
  align-self: flex-start;
  margin: 76px;
  height: 30px;
}
